.centrarElementos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px 25px;

}

.centrarElementos button {
    margin: 5px 10px;
}

.titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: rgb(255, 0, 0);
}

.iconLock {

    color: rgb(255, 0, 0);
}